<!DOCTYPE HTML>
<html>
<head>
    <script src="lib/pako.js"></script>
    <script src="lib/pako_inflate.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-file-upload.js"></script>
    <script src="git-repo-reader.js"></script>
</head>
<body ng-app="gitRepoReader" ng-controller="GitRepoReaderCtrl">
<input name="git-dir" type="file" webkitdirectory directory multiple
       ng-file-select
       ng-model="files"
       ng-file-change="readDirectory()">

<div ng-if="gitDirectory">
    <div ng-repeat="commit in commits">
        <pre>{{commit}}</pre>
    </div>
</div>
</body>
</html>